.header {
    margin: 20px 20px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    width: 145px;
}

.header-nav {
    display: flex;
    flex-direction: row;
}

.header-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    list-style-type: none
}

.header-link {
    color: $main-color;
    font-size: clamp(12px, 2.667vw, 24px);
    text-decoration: none;
}
.header-link:is(:hover, :focus) {
    text-decoration: underline;
}


@media (min-width: 768px) {
    .header {
        margin: 30px 50px;
    }

    .header-logo {
        width: 175px;
    }

    .header-list {
        gap: 30px;
    }
}


@media (min-width: 1024px) {
    .header {
        margin: 40px 100px;
    }

    .header-logo {
        width: 210px;
    }

    .header-list {
        gap: 50px;
    }
}